@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.hero,
.header {
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin-left: 20px;
}

.header-logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  padding: 30px;
  height: 500px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* .hero-image {
  max-width: 20%;
} */

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding-bottom: 20px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-btn {
  text-decoration: none;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 3px solid #3882f6;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
  transition: 0.3s ease-in;
}

.signup-btn:hover {
  color: #3882f6;
  background-color: #e5e7eb;
  border: 3px solid #3882f6;
}

.hero-image-container {
  display: flex;
  max-width: 80%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.testimonials-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.testimonials-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image-container {
  min-height: 150px;
  min-width: 150px;
  border-radius: 10px;
  border: 5px solid #3882f6;
  margin: 30px;
}

.card-text {
  margin: 30px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.quote-main-text {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  color: #888888;
}

.quote-second-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 0 0 0;
  color: #1f2937;
  font-weight: 900;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-container {
  background-color: #3882f6;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  width: 1200px;
  padding: 50px 50px;
  margin: 50px;
  border-radius: 10px;
}

.cta-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 75px;
}

.cta-text-container h3 {
  padding-bottom: 10px;
}

.cta-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
}

.cta-btn {
  text-decoration: none;
  color: #e5e7eb;
  border: 3px solid #e5e7eb;
  background-color: none;
  border-radius: 5px;
  padding: 7px 25px;
  transition: 0.3s ease-in;
}

.cta-btn:hover {
  color: #3882f6;
  border: 3px solid #3882f6;
  background-color: #e5e7eb;
}

.footer {
  background-color: #1f2937;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer-text {
  color: #e5e7eb;
}
